<!DOCTYPE html>
<html>
<head>
  <title>ACME S.A.</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/jquery/3.2.1/jquery.min.js}" rel="stylesheet" />
  <link th:href="@{/bootstrap/3.3.7/js/bootstrap.min.js}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Empresa ACME S.A.</a>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row">
		<span th:text="${error}"></span>
	</div>
	<div class="container-fluid">
		<form id="formLogin" th:action="@{/login}" method="post" class="form-horizontal">
			<div class="form-group form-group-lg">
				<label class="control-label col-sm-4" for="username">Usuario:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="username" id="username" placeholder="Número de Cédula" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label class="control-label col-sm-4" for="password">Password:</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" name="password" id="password" placeholder="Número Pin" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
			 	<div class="col-sm-offset-4 col-sm-8">
					<input type="submit" name="login" class="login login-submit btn btn-block btn-primary" value="Login" />
				</div>
			</div>
		</form>
	</div>
</div>	  

</body>
</html>