<!DOCTYPE html>
<html>
<head>
  <title>ACME S.A.</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/jquery/3.2.1/jquery.min.js}" rel="stylesheet" />
  <link th:href="@{/bootstrap/3.3.7/js/bootstrap.min.js}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Empresa ACME S.A.</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/rest-client/cuentas}">Cuentas</a></li>
        <li class="active"><a th:href="@{/rest-client/transferencias}">Transferencias</a></li>
        <li><a th:href="@{/rest-client/movimientos}">Movimientos</a></li>
        <li><a th:href="@{/logout}">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row">
		<span th:text="${error}"></span>
	</div>
	<div class="container-fluid">
		<form id="formTransfer" th:action="@{/transferencias}" method="post" class="form-horizontal">
			<div class="form-group form-group-lg">
				<label class="control-label col-sm-4" for="cuentaDebito">Cuenta Débito:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="cuentaDebito" id="cuentaDebito" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label class="control-label col-sm-4" for="cuentaCredito">Cuenta Crédito:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="cuentaCredito" id="cuentaCredito" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label class="control-label col-sm-4" for="monto">Monto:</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" name="monto" id="monto" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
			 	<div class="col-sm-offset-4 col-sm-8">
					<input type="submit" id="regTransfer" name="regTransfer" class="login login-submit btn btn-block btn-primary" value="Confirmar" />
				</div>
			</div>
		</form>
	</div>
</div>	  

</body>
</html>