<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Menú de Opciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/jquery/3.2.1/jquery.min.js}" rel="stylesheet" />
  <link th:href="@{/bootstrap/3.3.7/js/bootstrap.min.js}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Empresa ACME S.A.</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/rest-client/cuentas}">Cuentas</a></li>
        <li><a th:href="@{/rest-client/movimientos}">Movimientos</a></li>
        <li><a th:href="@{/logout}">Salir</a></li>
      </ul>
    </div>
  </div>
</nav>
  
  <div class="container">
  		<h3>En construcción</h3>
  </div>

</body>
</html>